<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Election System Admin Options</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to the Administration Options for Election
        System. Start browsing the options in the navbar.</p>
    </div>
  </div>
</main>